.skills-section {
  padding-inline: 20px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 130px;

  & h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 70px;
    color: #eee;
  }
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background-color: #48e3;
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 20px;
  color: #ddd;
  animation: show-blur ease both;
  animation-timeline: view(block);
  animation-range: cover 5% contain 1%;

  & p {
    font-size: 1.4em;
    text-align: center;
  }
}

.img-skills-wrapper {
  position: relative;
  max-width: 270px;
  padding: 20px;
}

.dev-img {
  max-width: 270px;
  height: auto;
  object-position: center;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.skills-container {
  gap: 50px;
  width: 50%;
  flex-wrap: wrap;
  user-select: none;

  & li {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 50px;
    font-size: 1.1em;
    animation: float 1.5s ease-in alternate infinite both;

    & span:first-child {
      & svg {
        width: 50px;
        height: 50px;
        color: var(--shadow-purple);
      }
    }

    &:first-child {
      top: -30px;
      right: 60%;
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      top: 20%;
      left: 0;
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      top: 40%;
      right: -15%;
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      top: 0;
      right: 10px;
      animation-delay: 0.8s;
    }
    &:nth-child(5) {
      bottom: -5%;
      right: -10%;
      animation-delay: 1s;
    }
    &:nth-child(6) {
      bottom: -30px;
      right: 50%;
      animation-delay: 1.2s;
    }
    &:nth-child(7) {
      bottom: 50px;
      left: 0;
      animation-delay: 1.4s;
    }
    &:last-child {
      top: -35px;
      right: 70px;
      animation-delay: 1.4s;
    }
  }
}

@media screen and (min-width: 810px) {
  .skills-container {
    gap: 50px;
  }

  .skills-wrapper {
    flex-direction: row;
    padding: 150px;
    padding-left: 50px;

    & p {
      text-align: start;
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
    filter: drop-shadow(0 0 20px var(--shadow-purple));
  }
}

@keyframes show-blur {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0px);
  }
}
