.navbar {
  position: fixed;
  top: 20px;
  z-index: 80;
  right: 0;
  left: 0;
  margin: auto;
  background: linear-gradient(270deg, #7873f588, #ff6ec488, #6ec4ff88);
  background-size: 200% 200%;
  animation: gradientShift 5s ease infinite;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  backdrop-filter: blur(3px);
}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  & li {
    transition: scale 0.3s ease;

    &:hover {
      scale: 1.2;
    }
  }

  & a {
    scroll-behavior: smooth;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
