@import 'tailwindcss';

@font-face {
  font-family: 'Funnel Display';
  src: url(/public/fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf)
    format('truetype');
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-main-dark: #171717;
  --color-main-light: #f7f7f7;
  --color-text-main-dark: #eee;
  --color-text-main-light: #111;
  --color-text-secundary-dark: #ccc;
  --color-text-secundary-light: #555;
  --color-border-dark: #333;
  --color-border-light: #ddd;
  --color-main-opacity-dark: #171717aa;
  --color-main-opacity-light: #f7f7f7aa;
  --color-hover-bg-dark: #252525;
  --color-hover-bg-light: #d9d9d9;

  --shadow-dark: 0 2px 2px #fff1;
  --shadow-light: 0 2px 2px #0001;

  --default-font-family: 'Funnel Display', sans-serif;

  --container-maxw: 850px;

  --spacing-main-container: 20px;
}

.project {
  animation: slice-up 0.3s ease-out both;
}

.copy {
  animation: slice-down 3s ease-out both;
}

.animated-background {
  background-size: 200% 200%;
  animation: bg-move 1s linear infinite alternate;
}

.animated-project-background {
  background-size: 200% 200%;
  animation: bg-move 2s linear infinite alternate;
  animation-play-state: paused;

  &:hover {
    animation-play-state: running;
  }
}

@keyframes bg-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 90% 50%;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slice-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes slice-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  10% {
    opacity: 1;
    transform: translateY(0%);
  }

  90% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
